(global) {
	header {
		# disable FLoC tracking
		Permissions-Policy interest-cohort=()

		# enable HSTS
		Strict-Transport-Security max-age=31536000;

		# keep referrer data off
		Referrer-Policy no-referrer

		# prevent for appearing in search engine for private instances (option)
		#X-Robots-Tag noindex
	}
}

FRONTEND_HOSTNAME {
	reverse_proxy pipedfrontend:80
	import global
}

BACKEND_HOSTNAME {
	reverse_proxy varnish:80
	import global
}

PROXY_HOSTNAME {
	@ytproxy path /videoplayback* /api/v4/* /api/manifest/*
	import global

	route {
		header @ytproxy {
			Cache-Control private always
		}

		header / {
			Cache-Control "public, max-age=604800"
		}

		reverse_proxy unix//var/run/ytproxy/actix.sock {
			header_up -CF-Connecting-IP
			header_up -X-Forwarded-For
			header_down -etag
			header_down -alt-svc
		}
	}
}
