{
	servers :443 {
		protocol {
			experimental_http3
		}
	}
}

FRONTEND_HOSTNAME {
	reverse_proxy pipedfrontend:80
	header {
		# disable FLoC tracking
		Permissions-Policy interest-cohort=()

		# enable HSTS
		Strict-Transport-Security max-age=31536000;

		# keep referrer data off
		Referrer-Policy no-referrer

		# prevent for appearing in search engine for private instances (option)
		#X-Robots-Tag noindex
	}
}

BACKEND_HOSTNAME {
	reverse_proxy varnish:80 {
		# remove `*` from the `Access-Control-Allow-Origin` header
    header_down -Access-Control-Allow-Origin
  }
	header {
		# enable CORS for the frontend hostname
		Access-Control-Allow-Origin https://FRONTEND_HOSTNAME

		# disable FLoC tracking
		Permissions-Policy interest-cohort=()

		# enable HSTS
		Strict-Transport-Security max-age=31536000;

		# keep referrer data off
		Referrer-Policy no-referrer

		# prevent for appearing in search engine for private instances (option)
		#X-Robots-Tag noindex
	}
}

PROXY_HOSTNAME {
	@ytproxy path /videoplayback* /api/v4/* /api/manifest/*

	@optionscall {
		method OPTIONS
	}

	header {
		# enable CORS for the frontend hostname
		Access-Control-Allow-Origin https://FRONTEND_HOSTNAME
		Access-Control-Allow-Headers *

		# disable FLoC tracking
		Permissions-Policy interest-cohort=()

		# enable HSTS
		Strict-Transport-Security max-age=31536000;

		# keep referrer data off
		Referrer-Policy no-referrer

		# prevent for appearing in search engine for private instances (option)
		#X-Robots-Tag noindex
	}

	route {
		header @ytproxy {
			Cache-Control private always
		}

		header / {
			Cache-Control "public, max-age=604800"
		}

		respond @optionscall 200

		reverse_proxy unix//var/run/ytproxy/http-proxy.sock {
			header_up -CF-Connecting-IP
			header_up -X-Forwarded-For
			header_down -Access-Control-Allow-Origin
			header_down -etag
			header_down -alt-svc
		}
	}
}
